name: Build Financial Golf
on:
  push:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write # Required for tauri-action to create a GitHub Release
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Install Frontend Dependencies
        run: npm install
        
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc
          toolchain: stable
          
      - name: Build Tauri App
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tagName: v__VERSION__
          releaseName: 'Financial Golf Windows Release'
          releaseBody: 'Download the Windows executable underneath Assets.'
          releaseDraft: false
          prerelease: false
          args: --target x86_64-pc-windows-msvc
